*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

.header{
    background: rgb(23, 63, 23);
    text-align: center;
    padding: 80px;
    color: white;
}

.navbar{
    display: flex;
    justify-content: flex-start;
    background: black;
}

.navbar a{
    padding: 15px 35px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover{
    background:gray;
    color: black;
    font-weight:bold;
}

@media screen and (max-width:700px){
    .navbar{
        flex-direction: column;
    }
}

