body{
    margin: 0;
}

.header{
    border: 1px solid black;
    background-color: rgb(24, 23, 23);
    border-radius: 15px;
    opacity: 0.9;
    width: 80%;
    height: 200px;
    margin-left: 10%;
    margin-top: 10%;
}

button{
    display: inline-block;
    color:  rgb(25, 233, 167);
    width: 10%;
    border: none;
    font-weight: 700;
    height: 16%;
    background-color:rgb(24, 23, 23) ;
    border-radius: 50px;
    margin-left: 27.5%;
    margin-top: 8.5%;
}

button:hover{
    background-color: rgb(129, 175, 160);
    color:  rgb(14, 122, 88);
    border-radius: 80px;
    cursor:pointer;
}